<h1>閲覧</h1>
  <div>
    <p>物件名: <%= @property.property_name %></p>
    <p>賃料: <%= @property.rent %></p>
    <p>住所: <%= @property.address %></p>
    <p>備考 <%= @property.note %></p>
  </div>

  <% count_num = 1 %>
  <% @nearest_stations.each do |nst| %>
    <h3>最寄り駅<%= count_num %></h3>
    <p>路線名 <%= nst.train_route_name %></p>
    <p>駅名 <%= nst.station_name %></p>
    <p>徒歩分数 <%= nst.walking_minutes %></p>
    <% count_num = count_num + 1 %>
  <% end %>

